#
# Operating System
#
CT_KERNEL_mingw32=y
# CT_W32API_V_select is not set
CT_W32API_VERSION=""

#
# Common kernel options
#

#
# Binary utilities
#
CT_ARCH_BINFMT_ELF=y
# CT_ARCH_BINFMT_FLAT is not set
# CT_ARCH_BINFMT_FDPIC is not set

#
# GNU binutils
#
CT_BINUTILS_VERSION=""
CT_BINUTILS_EXTRA_CONFIG_ARRAY=""
# CT_BINUTILS_FOR_TARGET is not set

#
# sstrip
#
# CT_SSTRIP is not set

#
# C compiler
#
CT_CC_VERSION=""
CT_CC_gcc=y
CT_CC_GCC_SHOW_LINARO=y
CT_CC_ENABLE_CXX_FLAGS=""
CT_CC_CORE_EXTRA_CONFIG=""
CT_CC_EXTRA_CONFIG=""

#
# Additional supported languages:
#
CT_CC_LANG_CXX=y
# CT_CC_LANG_JAVA is not set
# CT_CC_LANG_ADA is not set
# CT_CC_LANG_OBJC is not set
# CT_CC_LANG_OBJCXX is not set
CT_CC_LANG_OTHERS=""

#
# gcc other options
#
# CT_CC_GCC_ENABLE_TARGET_OPTSPACE is not set
# CT_CC_GCC_USE_GRAPHITE is not set
# CT_CC_GCC_USE_LTO is not set
# CT_CC_STATIC_LIBSTDCXX is not set
# CT_CC_GCC_LIBMUDFLAP is not set
# CT_CC_GCC_LIBGOMP is not set
# CT_CC_GCC_LIBSSP is not set

#
# Misc. obscure options.
#
CT_CC_CXA_ATEXIT=y
CT_CC_GCC_DISABLE_PCH=y
CT_CC_GCC_SJLJ_EXCEPTIONS=y
CT_CC_GCC_LDBL_128=y

#
# C-library
#
CT_LIBC="mingw"
# CT_LIBC_eglibc is not set
# CT_LIBC_glibc is not set
CT_LIBC_mingw=y
# CT_LIBC_newlib is not set
# CT_LIBC_none is not set
# CT_LIBC_uClibc is not set
CT_LIBC_eglibc_AVAILABLE=y
CT_LIBC_glibc_AVAILABLE=y
CT_LIBC_mingw_AVAILABLE=y
# CT_MINGWRT_V_select is not set
CT_MINGWRT_VERSION=""
CT_LIBC_newlib_AVAILABLE=y
# CT_LIBC_NEWLIB_CVS is not set
CT_LIBC_none_AVAILABLE=y
CT_LIBC_uClibc_AVAILABLE=y
CT_LIBC_SUPPORT_THREADS_ANY=y
# CT_LIBC_SUPPORT_NPTL is not set
# CT_LIBC_SUPPORT_LINUXTHREADS is not set
CT_LIBC_SUPPORT_WIN32THREADS=y
CT_THREADS="none"

#
# Common C library options
#
# CT_THREADS_NPTL is not set
# CT_THREADS_LINUXTHREADS is not set
# CT_THREADS_WIN32THREADS is not set
CT_THREADS_NONE=y
CT_LIBC_XLDD=y

#
# mingw other options
#
# CT_MINGW_DIRECTX is not set
# CT_MINGW_OPENGL is not set
CT_MINGW_PDCURSES=y
CT_MINGW_PDCURSES_VERSION=""
# CT_MINGW_GNURX is not set

#
# Debug facilities
#
# CT_DEBUG_dmalloc is not set
# CT_DEBUG_duma is not set
# CT_DEBUG_gdb is not set
# CT_DEBUG_ltrace is not set
# CT_DEBUG_strace is not set

#
# gdb version
#
CT_DEBUG_GDB_SHOW_LINARO=y
CT_GDB_VERSION=""
# CT_DEBUG_ltrace is not set
CT_LTRACE_VERSION=""
# CT_DEBUG_strace is not set
CT_STRACE_VERSION=""

#
# Companion libraries
#

#
# FIXME: check real dependencies!!!
#
CT_COMPLIBS=y
CT_GMP_VERSION=""
CT_MPFR_VERSION=""
CT_PPL_VERSION=""
CT_CLOOG_VERSION=""
CT_MPC_VERSION=""
CT_LIBELF_VERSION=""

#
# Companion libraries common options
#
# CT_COMPLIBS_BACKUP is not set
# CT_COMPLIBS_CHECK is not set
# CT_COMPLIBS_SHARED is not set
