#
# Operating System
#
CT_KERNEL_VERSION=""
# CT_KERNEL_bare_metal is not set
CT_KERNEL_linux=y
# CT_KERNEL_LINUX_CUSTOM is not set
CT_KERNEL_LINUX_CUSTOM_LOCATION=""

#
# Common kernel options
#
CT_SHARED_LIBS=y

#
# Binary utilities
#
# CT_ARCH_BINFMT_FLAT is not set
# CT_ARCH_BINFMT_FDPIC is not set

#
# GNU binutils
#
CT_BINUTILS_VERSION=""
CT_BINUTILS_EXTRA_CONFIG_ARRAY=""
# CT_BINUTILS_FOR_TARGET is not set
CT_BINUTILS_FOR_TARGET_IBERTY=y
CT_BINUTILS_FOR_TARGET_BFD=y

#
# C compiler
#
CT_CC_VERSION=""
CT_CC_gcc=y
CT_CC_GCC_SHOW_LINARO=y

#
# Additional supported languages:
#
# CT_CC_LANG_CXX is not set
# CT_CC_LANG_JAVA is not set
# CT_CC_LANG_ADA is not set
# CT_CC_LANG_OBJC is not set
# CT_CC_LANG_OBJCXX is not set
CT_CC_LANG_OTHERS=""

#
# gcc other options
#
CT_CC_ENABLE_CXX_FLAGS=""
CT_CC_CORE_EXTRA_CONFIG_ARRAY=""
CT_CC_EXTRA_CONFIG_ARRAY=""
CT_CC_STATIC_LIBSTDCXX=y

#
# Optimisation features
#
# CT_CC_GCC_USE_GRAPHITE is not set
# CT_CC_GCC_USE_LTO is not set

#
# Settings for libraries running on target
#
# CT_CC_GCC_ENABLE_TARGET_OPTSPACE is not set
# CT_CC_GCC_LIBMUDFLAP is not set
# CT_CC_GCC_LIBGOMP is not set
# CT_CC_GCC_LIBSSP is not set

#
# Misc. obscure options.
#
CT_CC_CXA_ATEXIT=y
CT_CC_GCC_DISABLE_PCH=y
CT_CC_GCC_SJLJ_EXCEPTIONS=m
CT_CC_GCC_LDBL_128=m

#
# C-library
#
CT_LIBC=""
CT_LIBC_VERSION=""
CT_LIBC_UCLIBC_CONFIG_FILE=""
CT_THREADS=""

#
# Common C library options
#
# CT_THREADS_NPTL is not set
CT_THREADS_LINUXTHREADS=y
# CT_THREADS_NONE is not set
CT_LIBC_XLDD=y

#
# uClibc other options
#
CT_LIBC_UCLIBC_LNXTHRD_OLD=y
# CT_LIBC_UCLIBC_LNXTHRD_NEW is not set

#
# Debug facilities
#
# CT_DEBUG_dmalloc is not set
# CT_DEBUG_duma is not set
# CT_DEBUG_gdb is not set
# CT_GDB_CROSS is not set
# CT_GDB_CROSS_STATIC is not set
# CT_GDB_CROSS_PYTHON is not set
# CT_GDB_CROSS_INSIGHT is not set
# CT_GDB_NATIVE is not set
# CT_GDB_NATIVE_STATIC is not set
# CT_GDB_NATIVE_USE_GMP_MPFR is not set
# CT_GDB_GDBSERVER is not set
# CT_GDB_GDBSERVER_STATIC is not set

#
# gdb version
#
CT_DEBUG_GDB_SHOW_LINARO=y
CT_GDB_VERSION=""
# CT_DEBUG_ltrace is not set
CT_LTRACE_VERSION=""
# CT_DEBUG_strace is not set
CT_STRACE_VERSION=""

#
# Companion libraries
#
CT_COMPLIBS=y
CT_GMP_VERSION=""
CT_MPFR_VERSION=""
CT_PPL_VERSION=""
CT_CLOOG_VERSION=""
CT_MPC_VERSION=""
CT_LIBELF_VERSION=""

#
# Companion libraries common options
#
# CT_COMPLIBS_SHARED is not set
