#
# Operating System
#
CT_MINGW32=y
CT_KERNEL="mingw32"
# CT_KERNEL_bare_metal is not set
# CT_KERNEL_linux is not set
CT_KERNEL_mingw32=y
CT_KERNEL_bare_metal_AVAILABLE=y
CT_KERNEL_linux_AVAILABLE=y
CT_KERNEL_mingw32_AVAILABLE=y
CT_KERNEL_VERSION=""
# CT_W32API_V_select is not set

#
# Common kernel options
#

#
# Binary utilities
#
CT_ARCH_BINFMT_ELF=y

#
# GNU binutils
#
CT_BINUTILS_VERSION=""
CT_BINUTILS_EXTRA_CONFIG_ARRAY=""
# CT_BINUTILS_FOR_TARGET is not set
CT_BINUTILS_FOR_TARGET_IBERTY=y
CT_BINUTILS_FOR_TARGET_BFD=y

#
# sstrip
#
# CT_SSTRIP is not set

#
# C compiler
#
CT_CC="gcc"
CT_CC_gcc=y
CT_CC_GCC_SHOW_LINARO=y
CT_CC_VERSION=""
CT_CC_SUPPORT_CXX=y
CT_CC_SUPPORT_FORTRAN=y
CT_CC_SUPPORT_JAVA=y
CT_CC_SUPPORT_ADA=y
CT_CC_SUPPORT_OBJC=y
CT_CC_SUPPORT_OBJCXX=y

#
# Additional supported languages:
#
CT_CC_LANG_CXX=y
# CT_CC_LANG_JAVA is not set
# CT_CC_LANG_ADA is not set
# CT_CC_LANG_OBJC is not set
# CT_CC_LANG_OBJCXX is not set
CT_CC_LANG_OTHERS=""

#
# gcc other options
#
CT_CC_ENABLE_CXX_FLAGS=""
CT_CC_CORE_EXTRA_CONFIG_ARRAY=""
CT_CC_EXTRA_CONFIG_ARRAY=""
CT_CC_STATIC_LIBSTDCXX=y

#
# Optimisation features
#
# CT_CC_GCC_USE_GRAPHITE is not set
# CT_CC_GCC_USE_LTO is not set

#
# Settings for libraries running on target
#
# CT_CC_GCC_ENABLE_TARGET_OPTSPACE is not set
# CT_CC_GCC_LIBMUDFLAP is not set
# CT_CC_GCC_LIBGOMP is not set
# CT_CC_GCC_LIBSSP is not set

#
# Misc. obscure options.
#
CT_CC_CXA_ATEXIT=y
CT_CC_GCC_DISABLE_PCH=y
CT_CC_GCC_SJLJ_EXCEPTIONS=y
CT_CC_GCC_LDBL_128=y
# CT_CC_GCC_BUILD_ID is not set

#
# C-library
#
CT_LIBC="mingw"
CT_LIBC_mingw=y
CT_LIBC_eglibc_AVAILABLE=y
CT_LIBC_glibc_AVAILABLE=y
CT_LIBC_mingw_AVAILABLE=y
CT_MINGWRT_VERSION=""
# CT_MINGWRT_V_select is not set
CT_LIBC_newlib_AVAILABLE=y
CT_LIBC_none_AVAILABLE=y
CT_LIBC_uClibc_AVAILABLE=y
CT_LIBC_SUPPORT_THREADS_ANY=y
CT_LIBC_SUPPORT_WIN32THREADS=y
CT_THREADS="win32"

#
# Common C library options
#
CT_THREADS_WIN32THREADS=y

#
# mingw other options
#
# CT_MINGW_DIRECTX is not set
# CT_MINGW_OPENGL is not set
# CT_MINGW_PDCURSES is not set
# CT_MINGW_GNURX is not set

#
# Debug facilities
#
# CT_DEBUG_dmalloc is not set
# CT_DEBUG_duma is not set
# CT_DEBUG_gdb is not set
# CT_GDB_CROSS is not set
# CT_GDB_CROSS_STATIC is not set
# CT_GDB_CROSS_PYTHON is not set
# CT_GDB_CROSS_INSIGHT is not set
# CT_GDB_NATIVE is not set
# CT_GDB_NATIVE_STATIC is not set
# CT_GDB_NATIVE_USE_GMP_MPFR is not set
# CT_GDB_GDBSERVER is not set
# CT_GDB_GDBSERVER_STATIC is not set

#
# gdb version
#
# CT_DEBUG_GDB_SHOW_LINARO is not set
# CT_GDB_VERSION=""
# CT_DEBUG_ltrace is not set
CT_LTRACE_VERSION=""
# CT_DEBUG_strace is not set
CT_STRACE_VERSION=""

#
# Companion libraries
#

#
# FIXME: check real dependencies!!!
#
CT_COMPLIBS=y
# CT_WRAPPER_NEEDED is not set
CT_GMP=y
CT_MPFR=y
CT_PPL=y
CT_CLOOG=y
CT_MPC=y
CT_LIBELF=y
# __CT_GMP_V_
CT_GMP_VERSION=""
# __CT_MPFR_V_
CT_MPFR_VERSION=""
# __CT_PPL_V_
CT_PPL_VERSION=""
# __CT_CLOOG_V_
CT_CLOOG_VERSION=""
# __CT_MPC_V_
CT_MPC_VERSION=""
# __CT_LIBELF_V_
CT_LIBELF_VERSION=""

#
# Companion libraries common options
#
# CT_COMPLIBS_BACKUP is not set
# CT_COMPLIBS_CHECK is not set
# CT_COMPLIBS_SHARED is not set

#
# Companion tools
#

#
# READ HELP before you say 'Y' below !!!
#
# CT_COMP_TOOLS is not set

#
# Test suite
#
# CT_TEST_SUITE is not set
# CT_TEST_SUITE_GCC is not set

